.form {
  width: 100%;
  max-width: 960px;
  padding: 20px;
  border: 2px solid #d6d8da;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.btn-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

