.table {
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 20px;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.action {
  white-space: nowrap;
}

.action a{
  margin-right: 5px;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.form-check-input {
  cursor: pointer;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
