.table {
  width: 100%;
  max-width: -webkit-fill-available;
  margin: 20px;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

.action {
  white-space: nowrap; /* Prevents buttons from wrapping to a second line */
}

.action .btn {
  display: inline-block;
  margin-right: 8px; /* Adds space between the two buttons */
}

