<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/ElectroInternal">
        <img src="/siteLogo.png" alt="SiteLogo" width="200" height="50">
      </a>
      <div class="d-flex flex-column flex-lg-row align-items-lg-center gap-2 mt-2 mt-lg-0">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Users
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/users">View All Users</button></li>
          <li><button class="dropdown-item" type="button" [routerLink]="['/ElectroInternal/users/user-details',0]">Create New User</button></li>
          <li><button class="dropdown-item" type="button" (click)="exportUsersToPdf()">Export Users as PDF</button></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/categories">View All Categories</button></li>
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/categories/new-category">Create New Category</button></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Brands
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/brands">View All Brands</button></li>
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/brands/new-brand">Create New Brand</button></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Products
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/products">View All Products</button></li>
          <li><button class="dropdown-item" type="button" routerLink="/ElectroInternal/products/new-product">Create New Product</button></li>
        </ul>
      </div>
      <div >
        <button class="btn btn-secondary" type="button" routerLink="/ElectroInternal/customers">
          Customers
        </button>
      </div>
      <div >
        <button class="btn btn-secondary" type="button" routerLink="/ElectroInternal/settings">
          Settings
        </button>
      </div>
      <div >
        <button class="btn btn-secondary" type="button" routerLink="/ElectroInternal/shipping-rates">
          ShippingRates
        </button>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{userEmailSignal() }}
        </button>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button" (click)="getLoggedUser()">My Details</button></li>
          <li><button class="dropdown-item" type="button" (click)="logout()">Logout</button></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</nav>
